*.pyc
*.png
*.jpg
*.pdf
*py.cover
.coverage
06 Dredging Processes -  Hydraulic Transport - Theory New.pdf
graphs/
Old_book/
htmlcov/
.project
.pydevproject
.idea/
Book1.xls
The Delft Head Loss & Limit Deposit Velocity Model.pdf
/dist
/build
