*.pyc
*.png
*.jpg
*.pdf
*py.cover
.coverage

/dist
/build
/venv

graphs/
htmlcov/

.project
.pydevproject
.idea/


DHLLDV_viewer/static/
*.lnk
Old_book/
06 Dredging Processes -  Hydraulic Transport - Theory New.pdf
Book1.xls
The Delft Head Loss & Limit Deposit Velocity Model.pdf
